<h1>Order Details</h1>
<div id="user-info">
  <p><%= @order.user.name %></p>
  <p>
    <%= "#{@order.user.address}" %>
    <%= "#{@order.user.city}, #{@order.user.state} #{@order.user.zip}" %>
  </p>
</div>

<table id="status">
  <tr>
    <td>Status:
    <% if @order.editable_status? %>
      <td><%= render partial: 'ordered_status' %></td>
    <% else  %>
      <%= @order.status %>
    <% end %></td>

  </tr>
</table>

<h4> Placed at: <%= @order.created_at %> </h2>
<h4><%= @order.status.capitalize %> at: <%= @order.get_relevant_time %></h4>

<table class="table" id="items">
  <th>Item Name</th>
  <th>Item Quantity</th>
  <th>Item Price</th>
  <th>Item Subtotal</th>

  <% @order.items.each do |item| %>

  <tr>
    <td><%= link_to item.name, item_path(item) %></td>
    <td><%= item.quantity(@order.id) %></td>
    <td><%= item.price %></td>
    <td><%= item.subtotal(@order.id) %></td>
  </tr>
  <% end %>
</table>

<div id="total">
  Total: $<%= @order.total_price %>
</div>
