<h1>Order Details</h1>

<table>
  <th>Order Status</th>
  <th>Order Placed At</th>

  <tr>
    <td><%= @order.status %></td>
    <td><%= @order.created_at %></td>
  </tr>
</table>

<table>
  <th>Item Name</th>
  <th>Item Quantity</th>
  <th>Item Price</th>
  <th>Item Subtotal</th>

  <% @order.items.each do |item| %>

  <tr>
    <td><%= link_to item.name, item_path(item) %></td>
    <td><%= item.quantity(@order.id) %></td>
    <td><%= item.price %></td>
    <td><%= item.subtotal(@order.id) %></td>
  </tr>
  <% end  %>
  <tr>
    <th><%= @order.total_price %></th>
  </tr>
</table>
