<h2>My Cart</h2>

<% @cart.obj_contents.each do |item| %>
  <div id="item-<%= item.name %>">
    <img src="<%= item.image %>"></img>
    <div><%= item.name %><div>
    <%= item.description %>
    <%= item.price %>

    <%= form_tag(cart_item_path(item), method: :put) do %>
      <%= text_field_tag(:quantity, item.quantity) %>
      <%= hidden_field_tag :item_id , item.id %>
      <%= submit_tag("Update") %>
    <% end %>

    <%= button_to "Remove", cart_item_path(item), method: :delete %>
  </div>
<% end %>

Total Price: $<%= @cart.total %>
<div id="user_buttons">
<% if current_user %>
<%= button_to "Checkout", orders_path, method: :post%>
<% else %>
<%= link_to "Login or Create Account to Checkout", login_path %>
<%end%>
</div>
