<div class="container-fluid">
<!-- <div class="col-md-12 text-right"> -->

<h1 id="index_title">All Available Items</h1>


<div class="all_info">

  <% @items.each do |item| %>
  <div class="col-md-4" id="item_information">
   <%= link_to item.name, item_path(item) %>
   <%= item.description %>
   <%= "$#{item.price}" %>
   <div id="image_tag">

   <%= image_tag item.image %>
 </div>
   <%= button_to "Add to cart", user_carts_path(item_id: item.id, create: true) %>
 </div>
  <% end %>
</div>
</div>
