<h1>Admin Dashboard</h1>
<h2> Welcome, <%= @user.username %></h2>
<%= link_to "Update Account Information", edit_user_path %><br>

<div class="btn-group">
  <button type="button" class="btn btn-default" id="all">All Orders</button>
  <button type="button" class="btn btn-default" id="ordered">Ordered</button>
  <button type="button" class="btn btn-default" id="paid">Paid</button>
  <button type="button" class="btn btn-default" id="cancelled">Cancelled</button>
  <button type="button" class="btn btn-default" id="completed">Completed</button>
</div>

<table class="table hidden" id="all_orders">
  <th>Order Number</th>
  <th>Order Status</th>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.id, order_path(order) %></td>
    <td><%= order.status %></td>
  </tr>
<% end %>
</table>

<table class="table hidden" id="ordered_orders">
  <th>Order Number</th>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.id, order_path(order) %></td>
  </tr>
<% end %>
</table>

<table class="table hidden" id="paid_orders">
  <th>Order Number</th>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.id, order_path(order) %></td>
  </tr>
<% end %>
</table>

<table class="table hidden" id="cancelled_orders">
  <th>Order Number</th>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.id, order_path(order) %></td>
  </tr>
<% end %>
</table>

<table class="table hidden" id="completed_orders">
  <th>Order Number</th>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.id, order_path(order) %></td>
  </tr>
<% end %>
</table>



<table class="table" id="status_table">
  <th>Status</th>
  <th>Total Orders</th>
  <tr>
    <td>Ordered</td>
    <td id="ordered"><%= @orders.total("ordered") %></td>
  </tr>
  <tr>
    <td> Paid </td>
    <td id="paid"><%= @orders.total("paid") %></td>
  </tr>
  <tr>
    <td> Cancelled </td>
    <td id="cancelled"><%= @orders.total("cancelled") %></td>
  </tr>
  <tr>
    <td> Completed </td>
      <td id="completed"><%= @orders.total("completed") %></td>
  </tr>
</table>
