<h1>Admin Dashboard</h1>
<%= render "shared/dashboard" %>

<div>
  <div class="btn-group">
    <button type="button" class="btn btn-default" id="all">
      All Orders
      <span class="badge"><%= @orders.count %></span>
    </button>
    <button type="button" class="btn btn-default" id="order">
      Ordered
      <span class="badge"><%= @orders.total(0) %></span>
    </button>
    <button type="button" class="btn btn-default" id="pay">
      Paid
      <span class="badge"><%= @orders.total(1) %></span>
      </button>
    <button type="button" class="btn btn-default" id="cancel">
      Cancelled
      <span class="badge"><%= @orders.total(3) %></span>
    </button>
    <button type="button" class="btn btn-default" id="complete">
      Completed
      <span class="badge"><%= @orders.total(2) %></span>
    </button>
  </div>
</div>

<table class="table order_table" id="all_orders">
  <th>Order Number</th>
  <th>Order Status</th>

  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.status %></td>
    </tr>
  <% end %>
</table>

<%= render partial: 'order_table', locals: {orders: @orders, order_status: "ordered", status_number: 0} %>
<%= render partial: 'order_table', locals: {orders: @orders, order_status: "paid", status_number: 1} %>
<%= render partial: 'order_table', locals: {orders: @orders, order_status: "cancelled", status_number: 2} %>
<%= render partial: 'order_table', locals: {orders: @orders, order_status: "completed", status_number: 3} %>
