<h2>My Cart</h2>

<% @cart.obj_contents.each do |item, total| %>
  <div id="item-<%= item.name %>">
    <img src="<%= item.image %>"></img>
    <div><%= item.name %><div>
    <%= item.description %>
    <%= item.price %>
    <%= total %>
    <%= button_to "Remove", user_carts_path(item_id: item.id) %>
  </div>
<% end %>

Total Price: $<%= @cart.total %>
