<!DOCTYPE html>
<html>
  <head>
    <title>Hiptique</title>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "shared/main_nav" %>
    <%= render "shared/flash" %>
    <%= render "shared/page_header" %>
    <%= render "shared/category_nav" %>

    <div class="container" id="site_content">
      <%= yield %>
    </div>

  </body>
</html>
